<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap" rel="stylesheet">

<div class="header"> 
<div class="logo" src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.creativefabrica.com%2Fes%2Fproduct%2Fmonogram-tf-logo-design%2F&psig=AOvVaw3jEBP1uASr-DiXjtl5yDku&ust=1652977090409000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCLCY39S56fcCFQAAAAAdAAAAABAD"></div>
TU FAMRCIA
</div>